module.exports = function (shipit) {
    require('shipit-deploy')(shipit);

    shipit.initConfig({
        default: {
            workspace: '/tmp/github-monitor',
            deployTo: '/var/www/mysite/evoluttree/',
            repositoryUrl: 'git@github.com:omar331/evoluttree.git',
            ignores: ['.git', 'node_modules'],
            rsync: ['--del'],
            keepReleases: 5,
            shallowClone: true
        },
        staging: {
            servers: 'staging@staging.myserver.com',
            branch: 'stage'
        },
        production: {
            servers: 'prod@myserver.com',
            branch: 'production'
        }
    });

    shipit.task('pwd', function () {
        return shipit.remote('pwd');
    });
};

