.product-editing {
}

.content-list {
}

.content-list .content-list {
}


.content-list .page-item-holder {
    list-style-type: none;

}

.content-list .page-item {
    border: 0.1em #cecece solid;
    padding: 0.4em;
    background: #ddffdd;
}

.insert-stuff-area {
    height: 0.3em;
    background-color: none;
    width: 100%;
    border: none;
}


.insert-stuff-area-over {
    height: 2em;
    background-color: none;
}


