.evltr-modal {
    width: 90vw;
}

.product-editing {
}

.content-list {
}

.content-list .content-list {
}


.content-list .page-item-holder {
    list-style-type: none;

}

.content-list .page-item {
    padding: 0.4em 0.1em;
    background: #efefef;
}

.insert-stuff-area {
    height: 0.3em;
    background-color: none;
    width: 100%;
    border: none;
}


.insert-stuff-area-over {
    height: 2em;
    background-color: none;
}


