.evltr-modal {
    width: 75vw;
}

.product-editing {
}

.content-list {
    margin-top: 0.3em;
}



.content-list .page-item-holder {
    list-style-type: none;
}


.content-list .page-item-holder, .content-list .page-item .page-item {
    margin-bottom: 0.3em;
}


.insert-stuff-area {
    height: 0.2em;
    background-color: none;
    width: 35em;
    border: none;
}


.insert-stuff-area-over {
    /*border: 0.1em dashed #333;*/
    background-color: #999;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    width: 35em;
}

.page-item-holder-custom {

}

.page-item {
    float: none;
    overflow: auto;
    background: #fafafa;
    border: 1px solid #777;
    padding-top: 0.6em;
    width: 35em;
}

.page-item .collapse-handler {
    float: left;
    width: 5%;
    text-align: center;
    margin-left: 1%;
    padding: 0.2em;
    color: #bbb;
}

.page-item .page-title {
    float: left;
    width: 90%;
}

.page-item .page-title .title-display {
    color: #23282d;
    font-weight: bold;
    font-size: 0.9em;
}

.page-item .toolbar {
    clear: both;
    width: 85%;
    margin-left: 2.5em;
    margin-bottom: 0.3em;
    height: 1.5em;
}

.page-item .toolbar A {
    font-size: 0.9em;
}

.page-item .toolbar .sep {
    color: #ddd;
}

.page-item .toolbar A.danger {
    color: red;
}


.page-item-depth-0 {
    background: #dadada;
}

.page-item-depth-1 {
    background: #eeeeee;
}

.page-item-depth-2 {
    background: #f5f5f5;
}

.page-item-depth-3 {
    background: #fcfcfc;
}

.page-item-depth-4 {
    background: #fefefe;
}


.page-item-depth-5 {
    background: #ffffff;
}
