#page-tree-container {

  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 25%;
  vertical-align: top;
  position: relative;
  z-index: 50;
  margin-right: 0;
  height: 100%;
  flex-shrink: 0;
  flex-basis: auto;
  width: 25%;
  border-radius: 2px;
  background: #f2f3f5;
  border-right: 1px solid #ebebeb;

  -webkit-transition: width 0.5s ease-in-out ;
  -moz-transition: width 0.5s ease-in-out ;
  -ms-transition: width 0.5s ease-in-out ;
  -o-transition: width 0.5s ease-in-out ;
  transition: width 0.5s ease-in-out ;

  #no-pages{

    display: block;
    width: 80%;
    margin: 20px auto 0;
    text-align: center;
    opacity: 1;

    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;

    p{

      display: inline-block;
      color: #33547C;
      margin: 0;

      svg{
        display: inline-block;
        margin-right: 5px;
      }

    }

    #btn-newpage{
      display: block;
      margin: 10px auto;
      width: 60%;
      font-weight: bold;
    }
  }

  #page-tree
  {

    li {
      width: auto;
      border:0;
    }

    #page-tree-list
    {

      ul{

        list-style: none;
        margin-left: 0;
        padding: 0;
        width: auto;
        border:0;

        ul {
          margin-bottom: 0;
          border-left: 3px solid #33547C;

          .expand-handler {border-radius: unset !important;}
        }

        &.depth-0 {
          height: 90%;
          overflow-y: auto;
          padding: 10px 0 !important;
          overflow-x: hidden;

          & > li+li{
            margin-top: 10px;
          }
        }

        .depth-1 li{
          width: auto;
        }

        .depth-1 > li .page-title { padding-left: 55px; }
        .depth-2 > li .page-title { padding-left: 65px; }
        .depth-3 > li .page-title { padding-left: 75px; }
        .depth-4 > li .page-title { padding-left: 85px; }
      }

    }

    .page-tree-item {

      display: block;
      position: relative;
      width: 95%;
      margin: 0 auto;

      //esconde o drop-area abaixo do primeiro item
      &:first-child .page-tree-item-content + .drop-area {
      //  display: none !important;
      }

      .page-tree-item-content{
        background-color: white;
        border-bottom: 1px solid #d7d7d7;
        //box-shadow:0 1px 6px -4px #58697C;
        border-radius: 2px;

        &.current .page-title span{
          font-weight: bold;
          color: #AF7E25;
        }

        &:hover, &.active{
          border-right: 4px solid #33547C;
          background: #f5f6f8;
          text-decoration: none;

          .page-title span{
            color: #58697C;
          }

          .btn-options {
            display: block;
          }

          .expand-handler {
            opacity: 1;
          }
        }

        .btn-options{

          display: none;
          position: absolute;
          right: 0;
          top: 0;
          padding: 10px;
          z-index: 500;
          color: #58697C;
          cursor: pointer;

        }

        .expand-handler {
          display: block;
          font-size: 0.8em;
          color: #58697C;
          padding: 13px;
          cursor: pointer;
          position: absolute;
          left: 0;
          z-index: 10;
          top: 0;
          height: 39px;
          opacity: 0.15;
          border-radius: 2px 0 0px 2px;

          &:hover {
            background: #444;
            color: #f7f7f7 !important;
          }
        }

      }

      &.drop-enabled > .drop-area {
        display: block;
      }

      .drop-area {
        display: none;
        height: auto;

        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        transition: all .4s ease;

        .insert-stuff-area{
          height: 0;
          background-color: transparent;
          width: 100%;
          border: none;

          -webkit-transition: all .4s ease;
          -moz-transition: all .4s ease;
          transition: all .4s ease;
        }

        &.enabled {

          .insert-stuff-area {
            border: 1px dashed #9CAF3F;
            background: #e7e7e7;
            height: 3em;
            margin-bottom: 0.2em;
            margin-top: 0.2em;

            &:hover {
              background: #f7f7f7;
            }
          }
        }
      }

      .page-title {
        font-weight: normal;
        display: block;
        width: 100%;
        padding: 10px 15px 10px 45px;
        height: 39px;
        background: transparent;
        /*border-bottom: 1px solid #d7d7d7;*/
        text-decoration: none;
        z-index: 1;

        -webkit-transition: background 0.25s;
        -moz-transition: background 0.25s;
        transition: background 0.25s;

        .title-display {
          overflow: hidden;
          width: 95%
        }

        span {
          color: #58697C;
          text-wrap: normal;
          display: table-cell;
          vertical-align: middle;

          -webkit-transition: color 0.25s;
          -moz-transition: color 0.25s;
          transition: color 0.25s;
          font-size: 0.97em;
        }
      }
    }
  }

  &.collapsed{
    width:0;
    overflow: hidden;
    margin-right: 0;

    #no-pages{
      opacity: 0;
    }

  }

  &.collapsed + #collapse-bar #collapse-button{

    left: 0;

    #arrow-left{
      display: none !important;
    }

    #arrow-right{
      display: block !important;
    }

  }

  &.collapsed ~ #evolupage-container{
    #page-designer-toolbar{

    }
  }

}

#collapse-bar{

  position: relative;
  z-index: 90;

  #collapse-button {

    position: absolute;
    left: 2px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    opacity: 0.5;
    top: 2px;
    display: block;
    border-radius: 2px;
    overflow: hidden;

    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;

    &:hover {
      opacity: 1;
      left: 0px;
      &:hover span{
        color: #f7f7f7;
      }
    }

    span {
      position: absolute;
      top: 0;
      display: block;
      background: #B1C93E;
      width: 100%;
      height: 100%;
      color: #33547C;
      font-size: 20px;
      right: 0;

      transition: all 0.25s;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;

      svg {
        position: absolute;
        left: 7px;
        top: 4px;
        width: 50%;
      }

      &#arrow-left {
        display: block;
      }

      &#arrow-right {
        left: 0px;
        display: none;
      }
    }

  }
}
